<template>
  
  <div></div>

</template>

<script>

export default {
    components: {

    },
    data(){
      return {
        
      }
    },
    computed: {

    },
    watch: { 

    },
    created() {
      
    },
    beforeMount(){

    },
    updated(){

    },
    mounted(){
      
    },
    methods: {

    },  
    
}

</script>


<style scoped>
.v-toolbar__content{
  padding: 0 !important;
}

</style>

