<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center" mt-5>
        <h1>Home page</h1>
      </v-flex>
      <v-flex xs12 class="text-xs-center" mt-3>
        <p>This is the Homepage</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

export default {
    components: {

    },
    data(){
      return {

      }
    },
    computed: {

    },
    watch: { 

    },
    created() {
      
    },
    beforeMount(){

    },
    updated(){

    },
    mounted(){
      
    },
    methods: {

    },  
    
}

</script>


<style scoped>


</style>

