<template>
  <div class="container">
    <div class="main">
      <div class="content">
        <div class="align_center">
          <img src="@/assets/shit_with_letter.png" alt="" class="item logo" />
        </div>

        <h1 class="item">Willkommen bei MemeSearch</h1>
        <b-form-input
          type="text"
          v-model="username"
          placeholder="Username"
          class="item"
        ></b-form-input>
        <b-form-input
          class="item"
          type="password"
          v-model="password"
          placeholder="Password"
        ></b-form-input>
        <b-button size="lg" variant="transparent" class="mb-2 submit">
          <b-icon icon="play-circle" aria-label="Help"></b-icon>
        </b-button>
        <div class="item align_center">
          <p>Noch nicht registriert?</p>
          <a @click="openModal">Jetzt Registrieren</a>
        </div>
      </div>
    </div>

    <!-- Registration Modal -->

    <b-modal class="reg_modal" id="registrationModal" title="Registrieren">
      <b-form-input
          type="text"
          v-model="username"
          placeholder="Username"
          class="item"
        ></b-form-input>
        <b-form-input
          class="item"
          type="password"
          v-model="password"
          placeholder="Password"
        ></b-form-input>
    </b-modal>
  </div>
</template>
<script>
export default {
  name: "Landing",
  data() {
    return {
      username: "",
      password: "",
    };
  },
  methods:{
    openModal(){
      this.$bvModal.show('registrationModal')
    }
  }
};
</script>

<style scoped>
* {
  color: white;
}
.logo {
  width: 50%;
}
.container {
  width: 100vw;
  height: 98vh;
  padding: 0;
  max-width: 100%;
  margin: 0;
  background-color: #ff7a00;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.item{
  margin: 10px;
  
}
*/
.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0;
}
h1 {
  text-align: center;
}
.submit > svg {
  color: white;
}
</style>